@import "common/var.scss";
@import "mixins/bem.scss";
@import "mixins/common.scss";

@include b(btn){
  @include button;
  box-sizing:border-box;
  display:inline-block;
  text-align:center;
  padding:0 10px;
  min-width: 100px;
  height:32px;
  line-height:32px;
  font-size:$--font-size-small;
  border-radius:2px;

  @include m(normal){
    background-color:$--grey-8;
    color:$--grey-1;
  }
}