@import "common/var.scss";
@import "mixins/bem.scss";

@include b(btn){
  box-sizing:border-box;
  display:inline-block;
  text-align:center;
  padding:0 10px;
  min-width: 100px;
  height:32px;
  line-height:32px;
  font-size:$--font-size-small;
  border-radius:2px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition:0.15s $--transition-normal;
  cursor: pointer;
  &:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
    background-color:darken($--grey-8,10%);
  }

  @include m(normal){
    background-color:$--grey-8;
    color:$--grey-1;
  }
}