@import "common/var.scss";
@import "mixins/bem.scss";

@include b(compile-page){
  box-sizing:border-box;
  width:70%;
  height:100%;
  margin: 100px auto 0;

  @include e(file-operation){
    position:absolute;
    top:40px;
    right:40px;
  }
}