@import "common/var.scss";
@import "mixins/bem.scss";

@include b(contextmenu){
  position:absolute;
  box-sizing: border-box;
  width:135px;
  padding:12px 12px 10px;
  background:$--grey-1;
  box-shadow: 2px 2px 10px 4px rgba($--grey-10,.1);
  border-radius: 4px;

  @include e(option){
    display:inline-block;
    margin:8px 0;
    border-bottom: 1px solid transparent;
    transition:.15s $--transition-normal;
    cursor: pointer;

    &:hover{
      border-bottom: 1px solid rgba($--blue-prim,0.9);
    }
  }

  @include e(divider){
    display:block;
    // width:90%;
    height:2px;
    margin:8px auto;
    background-color: $--grey-4;
  }

}

