@import "common/var.scss";
@import "mixins/bem.scss";


$card-width: 260px;
$card-height: 360px;
$open-offset:40px;
@include b(gallery-card){
  position:relative;
  flex:0 0 auto;
  margin:0 33px;
  border-radius: 4px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.1);
  transition:0.3s $--transition-normal;

  @media screen and (min-width:$--screen-md){
    width:260px;
    height:360px;
  }

  @include when(open){
    margin:0 300px;

    @include e(cover){
      pointer-events: none;
    }
    @include e('cover-right'){
      transform: translateX(($card-width/2 + $open-offset));
      box-shadow: -4px 0 6px 0 rgba(0,0,0,.1);
    }
    @include e('cover-left'){
      transform: translateX(-($card-width/2 + $open-offset));
      box-shadow: 4px 0 6px 0 rgba(0,0,0,.1);

    }
    @include e(abstract){
      opacity:1;
    }
  }


  @include e(cover){
    position:relative;
    z-index:2;
    height:100%;
    width:100%;
  }
  $e:'cover-left','cover-right';
  @include e($e){
    float:left;
    overflow:hidden;
    height:100%;
    width:50%;
    transition:0.3s $--transition-normal;
    cursor: pointer;
    img{
      width:200%;
      height:100%;
      object-fit: cover;
    }
  }  
  @include e('cover-right'){
    border-radius: 0 4px 4px 0;
    img{
      transform:translateX(-50%);
    }
  }
  @include e('cover-left'){
    border-radius: 4px 0 0 4px;
  }
  

  

  @include e('abstract'){
    position:absolute;
    top:0;
    left:-$open-offset;
    opacity:0;
    box-sizing:border-box;
    width:($card-width + $open-offset*2);
    height:100%;
    padding:30px 40px 20px;
    background-color:$--grey-1;
    text-align: center;
    border-radius: 4px;
    transition:0.3s $--transition-normal;
  }
  @include e('abstract-author'){
    padding:20px 0;
  }
  @include e('abstract-content'){
    box-sizing:border-box;
    overflow: hidden;
    height:60%;
    text-align:left;
    text-overflow: ellipsis;
  }

  @include e(enter-btn){
    margin:10px auto 0;
  }

}