@import "common/var.scss";
@import "mixins/bem.scss";

$node-size:16px;
@include b(processviz-working){
  position:relative;
  width:100%;
  // padding-bottom:40px;
  overflow-y:hidden;
  
  .simplebar-visible.simplebar-scrollbar:before {
    background: $--cold-gradient;
    opacity:1;
  }
  // .simplebar-track{
  //   background-color: rgba($--grey-1, .8);
  //   border-radius: 5px;
  // }

  @include e(method-control,true){
    position:absolute;
    top:0;
    left:0;

    .method{
      position:absolute;
      width:180px;
      margin-top:-1em;
      padding-left:40px;
      font-size: $--font-size-medium;
      color: white;
    }
  }

  @include e(document-nodes-wp){
    position:absolute;
    left:0;
    top:0;
    background:yellow;
  }
  @include e(document-node){
    position:absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    width:$node-size;
    height:$node-size;
    margin-top:-$node-size / 2;
    margin-left:-$node-size / 2;
    border-radius: 50%;
    background:$--cold-gradient;
    box-shadow: 1px 2px 4px $--grey-9;
    border:2px solid rgb(195, 238, 255);
    cursor: pointer;
    
    @include m('compiled'){
      background-color:rgba(0,0,0,0);
      border:4px solid red;
    }
  }
  
  // style the header
  @include e(headeraxies){
    color:white;
    font-size:$--font-size-base;
  }
}